@model TimeTracker.Models.TimeEntry
@{
    ViewData["Title"] = "Update";
}

<h1>Edit a Time entry</h1>
@using (Html.BeginForm("Update", "TimeEntries"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.HourlyPrice)
        @Html.TextBoxFor(m => m.HourlyPrice, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Hours)
        @Html.TextBoxFor(m => m.Hours, new { @class = "form-control" })
    </div>
    <button type="submit" value="save" class="btn btn-primary">Save</button>
}
