@model IEnumerable<TimeTracker.Models.Invoice>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col">
        <h1>Invoices</h1>
    </div>
    <div class="col-md-auto">
        <a class="btn btn-primary" asp-area="" asp-controller="Invoices" asp-action="Create">
            Add
        </a>
    </div>
</div>

<ul class="list-group">

    @foreach (var invoice in Model)
    {
        <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@invoice.Customer.CompanyName</h5>
                <div class="btn-group" role="group">
                    <a type="button" class="btn btn-info" asp-area="" asp-controller="Invoices" asp-action="Display" asp-route-id="@invoice.Id">Show</a>
                    <a type="button" class="btn btn-light" asp-area="" asp-controller="Invoices" asp-action="Update" asp-route-id="@invoice.Id">Edit</a>

                    @using (Html.BeginForm("Delete", "Customers", FormMethod.Post))
                    {
                        <button type="submit" class="btn btn-danger" value="Delete" asp-area="" asp-controller="Invoices" asp-action="Delete" asp-route-id="@invoice.Id">Delete</button>
                    }
                </div>
            </div>
            <p class="mb-1">Total: @invoice.TimeEntries.Sum(x => x.TotalPrice) DKK</p>
            <small>@invoice.Date.ToLongDateString()</small>
        </li>
    }
</ul>
