@model TimeTracker.ViewModels.InvoiceFormViewModel
@{
    ViewData["Title"] = "Update";
}

<h1>Edit an Invoice</h1>
@using (Html.BeginForm("Create", "Invoices"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Date)
        @Html.TextBoxFor(m => m.Date, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SelectedCustomerId)
        @Html.DropDownListFor(m => m.SelectedCustomerId, new SelectList(Model.AvailableCustomers, "Id", "Name"))
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SelectedTimeEntries)
        @Html.ListBoxFor(m => m.SelectedTimeEntries, new SelectList(Model.AvailableTimeEntries, "Id", "Description"))
    </div>
    <button type="submit" value="save" class="btn btn-primary">Save</button>
}
